body{   
    margin:10px auto;
    max-width: 80%;
    background-image:url(./imagens/fundo.png);
}


.cabecalho{
    margin:10px auto;
    margin-right:  9.3%;
    margin-left: 11.9%;
}


.cabecalho .link{
    font-family:Helvetica;
    margin-left: 71%;
    margin-top: -1.7%;
    margin-bottom: 2.7%;
}

.cabecalho .link a{
    margin: 4px;
}

.cabecalho .logo{
    margin-top: 2.2%;
    margin-bottom: -2.2%;
    margin-left: 0.1%;
}

.corpo{
    padding-top:0.5%;
    margin-left:12%;
}

.texto .titulo{
    font-family: Verdana;
    font-size: 16px;
    margin-left: 12%;
}


.rodape{
    margin-top: 4.29%;
    font-family: Verdana;
    text-align: center;
    font-size: 8px;
}

.texto .paragrafo{
    margin-left: 12%;
    margin-right: 12.1%;
}
