body{
    margin: 10px auto;
    max-width: 80%;
    background-image:url(./imagens/fundo.png);

}


.cabecalho{
    margin: 10px auto;
    margin-right:  60px;
    margin-left: 50px;
}

.cabecalho .link{
    font-family:Helvetica;
    margin-left: 74%;
}

.cabecalho .link a{
    margin: 3px;
}

.corpo{
    padding-top:4px;
    margin-left: 50px;
}

.texto .titulo{
    font-family: Verdana;
    font-size: 26px;
    text-align: center;
}

