body{
    margin: 10px auto;
    max-width: 80%;
}

.cabecalho{
    border: 2px solid rgb(73, 54, 176);
    margin: 10px auto;
    max-width: 90%;
}

.cabecalho .link{
    font-family:Helvetica;
    margin-left: 74%;
}

.cabecalho .link a{
    margin: 3px;
}


