body{
    margin: 10px auto;
    max-width: 80%;
    background-image: url(./imagens/fundo2.png);
}

.cabecalho{
    margin:10px auto;
    margin-right:  9.3%;
    margin-left: 11.9%;
}


.cabecalho .link{
    font-family:Helvetica;
    margin-left: 70%;
    margin-top: -1.7%;
    margin-bottom: 2.7%;
}

.cabecalho .link a{
    margin: 4px;
}

.cabecalho .logo{
    margin-top: 2.2%;
    margin-bottom: -2.2%;
    margin-left: -0.2%;
}

.corpo .texto-contato{
    margin-left: 11.8%;
    margin-top: 5.02%;
    font-family: Verdana;
    font-size: 16px;
    margin-right: 13.2%;
    margin-bottom: 1.15%;
}

.corpo .paragrafo{
    margin-left: 11.8%;
    margin-right: 13.2%;
    margin-bottom: 1.2%;
}

hr{
    margin-right: 13.2%;
    margin-left: 11.8%;
}

.formulario{
    font-family: Verdana;
    margin-left: 11.8%;
    font-size: 12px;
    margin-right: 13.2%;
    margin-top: 1.29%;
}

.formulario .email {
    margin-bottom: -0.1%;
}

.formulario .assunto{
    margin-bottom: -0.1%;
    margin-top: 0.1%;
}

.formulario .descricao{
    margin-bottom: -0.1%;
    margin-top: 0.1%;
}

.rodape{
    margin-top: 4.16%;
    text-align: center;
    font-size: 8px;
    font-family: Verdana;
}